.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.header p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 27px;
  color: #1e1e1e;
}
